{% load staticfiles %}
{% load static %}
<!DOCTYPE html>

<html>

    <head>
        <title>Dimas Krissanto Rahmadi's Website</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">        
    </head>

    <body>
        <header>
            <h1 align = "middle">Hello, apa kabar?</h1>
        </header>
        
        <div align = "middle">
            <form method="post" class="post-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputStatus">Status: </label>
                    {{ form.status }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            <form>            
        </div>
            
        <div class="ui inverted left segment">
            <table>
                <tr>
                    <th>Status</th>
                    <th>Hari</th>
                </tr>
                {% for i in listStatus %}
                <tr>
                    <th>{{ i.status }}</th>
                    <th>{{ i.date }}</th>
                <tr>
                {% endfor %}
            </table>
        </div>
    </body>
    
</html>