header {
	text-align: middle;	
	padding: 20px;
	background-color: #4C8DBC;
	color: white;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

tr:nth-child(odd) {
	background-color: #888888;
}

footer{
	padding: 20px;
	text-align: middle;
	background-color: #353535;
	color: #E9E9E9;
}